body {
    background: #24222b;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin:40px auto;
    max-width:550px;
    line-height:1.6;
    font-size:18px;
    color: white;
}
